<%- include('./partials/header'); -%>

<h1 class="center">Add New Flats</h1>

<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <meta name="description" content="" />
    <meta
      name="author"
      content="Mark Otto, Jacob Thornton, and Bootstrap contributors"
    />
    <meta name="generator" content="Hugo 0.104.2" />
    <title>Signin Template · Bootstrap v5.2</title>

    <link
      href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/css/bootstrap.min.css"
      rel="stylesheet"
      integrity="sha384-rbsA2VBKQhggwzxH7pPCaAqO46MgnOM80zW1RWuH61DGLwZJEdK2Kadq2F9CUG65"
      crossorigin="anonymous"
    />

    <!-- Favicons -->
    <link
      rel="apple-touch-icon"
      href="/docs/5.2/assets/img/favicons/apple-touch-icon.png"
      sizes="180x180"
    />
    <link
      rel="icon"
      href="/docs/5.2/assets/img/favicons/favicon-32x32.png"
      sizes="32x32"
      type="image/png"
    />
    <link
      rel="icon"
      href="/docs/5.2/assets/img/favicons/favicon-16x16.png"
      sizes="16x16"
      type="image/png"
    />
    <link rel="manifest" href="/docs/5.2/assets/img/favicons/manifest.json" />
    <link
      rel="mask-icon"
      href="/docs/5.2/assets/img/favicons/safari-pinned-tab.svg"
      color="#712cf9"
    />
    <link rel="icon" href="/docs/5.2/assets/img/favicons/favicon.ico" />
    <meta name="theme-color" content="#712cf9" />

    <style>
      .bd-placeholder-img {
        font-size: 1.125rem;
        text-anchor: middle;
        -webkit-user-select: none;
        -moz-user-select: none;
        user-select: none;
      }

      @media (min-width: 768px) {
        .bd-placeholder-img-lg {
          font-size: 3.5rem;
        }
      }

      .b-example-divider {
        height: 3rem;
        background-color: rgba(0, 0, 0, 0.1);
        border: solid rgba(0, 0, 0, 0.15);
        border-width: 1px 0;
        box-shadow: inset 0 0.5em 1.5em rgba(0, 0, 0, 0.1),
          inset 0 0.125em 0.5em rgba(0, 0, 0, 0.15);
      }

      .b-example-vr {
        flex-shrink: 0;
        width: 1.5rem;
        height: 100vh;
      }

      .bi {
        vertical-align: -0.125em;
        fill: currentColor;
      }

      .nav-scroller {
        position: relative;
        z-index: 2;
        height: 2.75rem;
        overflow-y: hidden;
      }

      .nav-scroller .nav {
        display: flex;
        flex-wrap: nowrap;
        padding-bottom: 1rem;
        margin-top: -1px;
        overflow-x: auto;
        text-align: center;
        white-space: nowrap;
        -webkit-overflow-scrolling: touch;
      }
    </style>

    <!-- Custom styles for this template -->
  </head>
  <body class="text-center">
    <main class="form-signin w-25 m-auto mt-5">
      <form action="/addNewFlat" method="post">
        <div class="form-floating">
          <input
            name="name"
            type="text"
            class="form-control"
            id="floatingInput"
            placeholder="name@example.com"
            value="Paras Nauriyal"
          />
          <label for="floatingInput">Name</label>
        </div>
        <div class="form-floating">
          <input
            name="bhk"
            type="text"
            class="form-control"
            id="floatingPassword"
            placeholder="BHK"
            value="4"
          />
          <label for="floatingPassword">BHK</label>
        </div>
        <div class="form-floating">
          <input
            name="area"
            type="number"
            class="form-control"
            id="floatingPassword"
            placeholder="Area"
            value="300"
          />
          <label for="floatingPassword">Area</label>
        </div>
        <div class="form-floating">
          <input
            name="address"
            type="text"
            class="form-control"
            id="floatingPassword"
            placeholder="Address"
            value="Plot Nos 8-11, TechZone 2, Greater Noida, Uttar Pradesh 201310"
          />
          <label for="floatingPassword">Address</label>
        </div>
        <div class="form-floating">
          <input
            name="furnishing"
            type="text"
            class="form-control"
            id="floatingPassword"
            placeholder="Furnishing"
            value="No"
          />
          <label for="floatingPassword">Furnishing</label>
        </div>
        <div class="form-floating">
          <input
            name="rent"
            type="number"
            class="form-control"
            id="floatingPassword"
            placeholder="Rent"
            value="50000"
          />
          <label for="floatingPassword">Rent</label>
        </div>
        <div class="form-floating">
          <input
            name="floor"
            type="number"
            class="form-control"
            id="floatingPassword"
            placeholder="Floor"
            value="3"
          />
          <label for="floatingPassword">Floor</label>
        </div>
        
        <h1>Owner Details</h1>

        <div class="form-floating">
          <input
            name="ownerName"
            type="number"
            class="form-control"
            id="floatingPassword"
            placeholder="Name"
            value=""
          />
          <label for="floatingPassword">Name</label>
        </div>
        <div class="form-floating">
          <input
            name="ownerMobile"
            type="number"
            class="form-control"
            id="floatingPassword"
            placeholder="Moblie Number"
            value=""
          />
          <label for="floatingPassword">Moblie Number</label>
        </div>
        <div class="form-floating">
          <input
            name="ownerEmail"
            type="number"
            class="form-control"
            id="floatingPassword"
            placeholder="Email"
            value=""
          />
          <label for="floatingPassword">Email</label>
        </div>
        <div class="form-floating">
          <input
            name="ownerId"
            type="number"
            class="form-control"
            id="floatingPassword"
            placeholder="Id Proof"
            value=""
          />
          <label for="floatingPassword">Id Proof</label>
        </div>


        <button class="w-100 mt-3 btn btn-lg btn-primary" type="submit">
          Add Flat
        </button>

        <p class="mt-5 text-muted">&copy; Hackathon 2022</p>
      </form>
    </main>
  </body>
</html>
