<%- include('./partials/header'); -%>

<h1 class="center">Available Flats</h1>

<div class="row mt-5 p-5">


  <div class="col-md-12 mb-2 align-self-start">
    <div class="card shadow p-3 mb-5 bg-white rounded">
      <div class="card-body cont">
        <div class="details">
        <h2 class="center">DLF Capital Greens</h2>
        <h5>3,4,5 BHK Apartments</h5>
        <p>Dwarka Mor, South Dehli,New Delhi</p>
        <h5>Rent: 50,000 Rs</h5>
        <h5>Furnishing: </h5>
        </div>
        <div class="button">
            <button class="btn btn-danger">Book</button> 
            <button class="btn btn-primary">Visited</button> 
            <button class="btn btn-warning">Delete</button> 
            
        </div>

      </div>
    </div>
  </div>


</div>

<%- include('./partials/footer'); -%>
