<%- include('./partials/header'); -%>

<h1 class="center">Dashboard</h1>

<div class="container" >

<div class="row mt-5">


  <div class="col-md-4 mb-2">

    <div class="card shadow p-3 mb-5 bg-white rounded ">
      <div class="card-body" style="height: 250px; display: flex; justify-content: center; align-items: center;">
        <a href="/available" class="link-dark">
        <h5 class="text-center fs-1">Available Flats</h3>
      </a>
      </div>
    </div>
    
  </div>

  <div class="col-md-4 mb-2">

    <div class="card shadow p-3 mb-5 bg-white rounded">
      <div class="card-body" style="height: 250px; display: flex; justify-content: center; align-items: center;">
        <a href="/booked" class="link-dark">
        <h5 class="text-center fs-1" >Booked Flats</h3>
      </a>
      </div>
    </div>
    
  </div>

  <div class="col-md-4 mb-2">

    <div class="card shadow p-3 mb-5 bg-white rounded">
      <div class="card-body" style="height: 250px; display: flex; justify-content: center; align-items: center;">
        <a href="/addNewFlat" class="link-dark">
        <h5 class="text-center fs-1">Add Flats</h3>
      </a>
      </div>
    </div>
    
  </div>

</div>

<div class="row mt-5">


  <div class="col-md-4 mb-2">

    <div class="card shadow p-3 mb-5 bg-white rounded">
      <div class="card-body" style="height: 250px; display: flex; justify-content: center; align-items: center;">
        <a href="/payments" class="link-dark">
        <h5 class="text-center fs-1">Payments</h3>
      </a>
      </div>
    </div>
    
  </div>


</div>




</div>

<%- include('./partials/footer'); -%>
