<%- include('./partials/header'); -%>

<h1 class="center">Home Page</h1>

<div class="container">

<div class="row mt-5">


  <div class="col-md-4 mb-2">

    <div class="card shadow p-3 mb-5 bg-white rounded">
      <div class="card-body">
        <a href="/available">
        <h5 class="text-center">Available Flats</h3>
        <hr style="border: 1px solid black;">
        <p style="font-weight:500;">description</p>
      </a>
      </div>
    </div>
    
  </div>

  <div class="col-md-4 mb-2">

    <div class="card shadow p-3 mb-5 bg-white rounded">
      <div class="card-body">
        <a href="/booked">
        <h5 class="text-center">Booked Flats</h3>
        <hr style="border: 1px solid black;">
        <p style="font-weight:500;">description</p>
      </a>
      </div>
    </div>
    
  </div>

  <div class="col-md-4 mb-2">

    <div class="card shadow p-3 mb-5 bg-white rounded">
      <div class="card-body">
        <a href="/addNewFlat">
        <h5 class="text-center">Add Flats</h3>
        <hr style="border: 1px solid black;">
        <p style="font-weight:500;">description</p>
      </a>
      </div>
    </div>
    
  </div>

</div>

<div class="row mt-5">


  <div class="col-md-4 mb-2">

    <div class="card shadow p-3 mb-5 bg-white rounded">
      <div class="card-body">
        <div class="container text-center service-icon">
          <i class="{{this.icon}} py-4"></i>
        </div>
        <h5 class="text-center">Title</h3>
        <hr style="border: 1px solid black;">
        <p style="font-weight:500;">description</p>
      </div>
    </div>
    
  </div>

  <div class="col-md-4 mb-2">

    <div class="card shadow p-3 mb-5 bg-white rounded">
      <div class="card-body">
        <div class="container text-center service-icon">
          <i class="{{this.icon}} py-4"></i>
        </div>
        <h5 class="text-center">Title</h3>
        <hr style="border: 1px solid black;">
        <p style="font-weight:500;">description</p>
      </div>
    </div>
    
  </div>

  <div class="col-md-4 mb-2">

    <div class="card shadow p-3 mb-5 bg-white rounded">
      <div class="card-body">
        <div class="container text-center service-icon">
          <i class="{{this.icon}} py-4"></i>
        </div>
        <h5 class="text-center">Title</h3>
        <hr style="border: 1px solid black;">
        <p style="font-weight:500;">description</p>
      </div>
    </div>
    
  </div>

</div>




</div>

<%- include('./partials/footer'); -%>
