<%- include('./partials/header'); -%>

<h1 class="center mb-5">Payments</h1>
<main class="center">
  <div class="input-group mb-3 center" height="500px">
    <h2>Total Amount: <%= totAmount %></h2>
  </div>

  
  <div class="input-group mb-5 center" height="500px">
    <h2>Profit Earned: <%= profEarned %></h2>
  </div>
</main>

<%- include('./partials/footer'); -%>
